body{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;   
}
h3{
    color: royalblue;
}
.highlight{
    color: blueviolet;
}
p{
    color: dimgray;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, cadetblue, blueviolet);
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.contact{
    color: midnightblue;
    font-weight: 600;
    text-decoration: none;
}